{
    "$schema": "http://iglucentral.com/schemas/com.snowplowanalytics.self-desc/schema/jsonschema/1-0-0#",
    "description": "Schema for user agent recognition",

    "type": "object",
    "properties": {
        "isBot": {
            "description": "Bot user",
            "type": "boolean"
        },
        "isTouchEnabled": {
            "description": "Touch enabled user",
            "type": "boolean"
        },
        "isMobile": {
            "description": "Mobile user",
            "type": "boolean"
        },
        "isDesktop": {
            "description": "Desktop user",
            "type": "boolean"
        },
        "isTablet": {
            "description": "Tablet user",
            "type": "boolean"
        },
        "isPhablet": {
            "description": "Phablet user",
            "type": "boolean"
        },
        "isConsole": {
            "description": "Console user",
            "type": "boolean"
        },
        "isPortableMediaPlayer": {
            "description": "Portable media player user",
            "type": "boolean"
        },
        "isCarBrowser": {
            "description": "Car browser user",
            "type": "boolean"
        },
        "isTV": {
            "description": "TV user",
            "type": "boolean"
        },
        "isSmartDisplay": {
            "description": "Smart display user",
            "type": "boolean"
        },
        "isCamera": {
            "description": "Camera user",
            "type": "boolean"
        },
        "isBrowser": {
            "description": "Browser user",
            "type": "boolean"
        },
        "isFeedReader": {
            "description": "Feed reader user",
            "type": "boolean"
        },
        "isMobileApp": {
            "description": "Mobile app user",
            "type": "boolean"
        },
        "isPIM": {
            "description": "PIM user",
            "type": "boolean"
        },
        "isLibrary": {
            "description": "Library user",
            "type": "boolean"
        },
        "isMediaPlayer": {
            "description": "Media player user",
            "type": "boolean"
        },
        "osName": {
            "description": "Operating system name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64
        },
        "osShortName": {
            "description": "Operating system short name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 16
        },
        "osVersion": {
            "description": "Operating system version",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 16
        },
        "osPlatform": {
            "description": "Operating system platform",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 8
        },
        "clientType": {
            "description": "Client type",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64
        },
        "clientName": {
            "description": "Client name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 128
        },
        "clientShortName": {
            "description": "Client short name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "clientVersion": {
            "description": "Client version",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 128
        },
        "clientEngine": {
            "description": "Client engine",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "clientEngineVersion": {
            "description": "Client engine version",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 16
        },
        "deviceName": {
            "description": "Device name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 128
        },
        "brand": {
            "description": "Device brand",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "brandName": {
            "description": "Device brand name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "model": {
            "description": "Device model",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64
        },
        "botName": {
            "description": "Bot name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "botCategory": {
            "description": "Bot category",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 32
        },
        "botUrl": {
            "description": "Bot url",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 128
        },
        "botProducerName": {
            "description": "Bot producer name",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 64
        },
        "botProducerUrl": {
            "description": "Bot producer url",
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 128
        },
        "device": {
            "description": "Device id",
            "type": "integer",
            "minimum": -1,
            "maximum": 16
        },
        "required": [
            "isBot",
            "isTouchEnabled",
            "isMobile",
            "isDesktop",
            "isTablet",
            "isPhablet",
            "isConsole",
            "isPortableMediaPlayer",
            "isTV",
            "isSmartDisplay",
            "isCamera",
            "isBrowser",
            "isFeedReader",
            "isMobileApp",
            "isPIM",
            "isLibrary",
            "isMediaPlayer"
        ],
        "additionalProperties": true
    }
}
